<!-- Footer -->
<footer class="footer-container">
    <div class="wrap">
        <div class="footer-content footer-content--medium">
            <div class="footer-inner">
                <div class="footer-column">
                    <div class="small-eyebrow">Services</div>
                    <ul id="footer-vehicle" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321">
                            <a href="/accommodation">Accommodation</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322">
                            <a href="/lifestyle">Lifestyle</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-323">
                            <a href="/food-beverage">Food & Beverage</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-column">
                    <div class="small-eyebrow">Company</div>
                    <ul id="footer-company" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-324">
                            <a href="/about/">About</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-325">
                            <a href="/contact/">Contact</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-751">
                            <a href="/careers/">Careers</a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-flex-break"></div>
                <div class="footer-column">
                    <div class="small-eyebrow">Learn more</div>
                    <ul id="footer-more" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-975">
                            <a href="/#Blog">Blog</a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-flex-break"></div>
                <div class="footer-column">
                    <div class="small-eyebrow">Socials</div>
                    <ul id="footer-social" class="menu">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-975">
                            <a href="/#Instagram/">
                                <span> Instagram </span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-975">
                            <a href="/#Facebook/">
                                <span> Facebook </span>
                            </a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-975">
                            <a href="/#Linkedin/">
                                <span> Linkedin </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom-bar">
                <div class="bottom-left">
                    <ul id="footer-legal" class="menu">
                        <li
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-265"
                        >
                            <a href="/#privacy/">Privacy Policy</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-622">
                            <a href="/#terms/">Terms of Use</a>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-572">
                            <a href="/#newsletter">Newsletter</a>
                        </li>
                    </ul>
                    <p class="separator">•</p>
                    <p class="copyright">
                        &copy; Khang, Inc. <span id="current_year">2022</span>. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->
