@import '~@angular/material/theming';

@mixin header-component-theme($hotel-theme) {
    $primary-color: map-get($hotel-theme, primary);
    $primary-accent: map-get($hotel-theme, accent);

    .mat-toolbar {
        height: 96px;
    }

    

    .logo-container {
        width: 100%;
    }

    .logo {
        max-height: 99px;
        max-width: 99px;
    }

    .mat-tab-nav-bar,
    .mat-tab-header {
        border-bottom: none !important;
    }
}
