<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>Close
      </button>
    </div>
    <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <app-navtabs></app-navtabs>
  </mat-sidenav-content>
  <router-outlet></router-outlet>
</mat-sidenav-container>
<app-layout-footer></app-layout-footer>
